body {
    margin:0;
    padding: 0;
}

.left-side, .right-side ,.profile {
    display: inline-block;
    vertical-align: top;
    
}
.right-side {
    margin-left: 30%;
    background-color: rgb(218, 218, 218);
    position: relative;
}
/* Left side */

.left-side {
    width: 30% ;
}
.chat-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* position: relative; */
}
.active-chat-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* position: relative; */
}

header {
    background-color: rgb(51, 209, 183);
    color: white;
    padding:20px;
    position: fixed;
    width: 100%;
    
    
}
.seahub-logo, .seahub-logo-text {
  
    display:inline-block;
    color: white;
    font-size: 25px;

    
}


.logo {
    border-radius: 50px;
    margin-bottom: -20px;
}
/* left Chat */

.chat {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;

}
.search {
    border: solid 2px rgb(223, 223, 223);
    border-radius: 7px;
    padding: 10px 15px ;
    color: grey;
    text-align: left;
    margin-bottom: 20px;
}


/* Contacts */

.contact-name, .chat-time {
    display: inline-block;
}

.chat-time {
    float: right;
    color: rgb(141, 141, 141);
    font-size: 12px;
}
.contact-bottom-line {
    color: rgb(141, 141, 141);
    margin: 5px;
    font-size: 15px;
}

/*  Footer New Chat */

.new-chat {
    background-color: rgb(84, 175, 160);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    bottom: 0px;
    width: 28%;
    position: fixed;
}


/* Right side */
/* Right side */

.menu-header {
    
    background-color:rgb(84, 175, 160) ;
    color: white;
    padding:1px  0 49px 0 ;
    height: 31px;
    font-size: 16px;
    text-align: center;
    position: fixed;
    width: 70%;
    z-index: 9999;

}
.right-side {
    margin-left:  -4px  ;
    width: 70% ;  
    
    
}

ul {
    padding-right: 100px;
}

li {
    display: inline-block;
    list-style: none;
    padding: 15px;
    
    
    
}

.profile {
    float: right;
    margin: -60px 10px;
}
.profile-logo {
    margin-bottom: -15px;
    border-radius: 50px;
}


/* active chat */



.active-chat {
    padding: 10px;
    margin-top: 80px;
    background-color: rgb(218, 218, 218);
}

.right-chat {
      text-align: right;
}
.right-chat-frame { 
    display: inline-block;
}
.chat-messege {

}

.left-chat {

 }
.left-chat-frame {
    display: inline-block;
}
 
.active-chat-time {
    color: rgb(141, 141, 141);
    font-size: 12px;
    font-style: italic;
    text-align: right;
}

.chat-icon {
    border-radius: 50%;
}



/* right footer */

.active-chat-footer {
    background-color: rgb(255, 255, 255);
    padding: 7px;
    z-index: 9999;
    bottom: 0px;
    position: fixed;
    margin-left: 30%;
    left: 0;
    right: 0;
    height: 80px;
}

.new-messege-line {
    display: inline-block;
    margin: 10px;

} 
.new-messege {
    border: 1px lightgrey solid ;
    padding: 10px ;
    width: 65%;
    border-radius: 5px;
    box-sizing: border-box;
}


